* {
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

a {
    color: #00ff99;
}

a:hover {
    color: #00ffff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0 5%;
}

h1 {
    font-size: 48px;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-self: center;
    padding: 0;
    width: 40%;
    justify-content: space-evenly;
}

nav ul li {
    display: inline-flex;
    font-size: 30px;
}

.about-me {
    padding: 5%;
    display: inline-block;
}

.about-me img {
    width: 300px;
    height: 375px;
    float: left;
    padding: 0 5%;
}

h2 {
    font-size: 36px;
    color: #0099ff;
}

p {
    font-size: 24px;
    line-height: 1.5;
}

.bio-text {
    text-indent: 8%;
}

main h2 {
    text-align: center;
}

.project-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.project {
    padding: 5%;
    width: 30%;
    height: 30%;
}

.project img {
    width: 100%;
    border: 5px solid #00ff99;
}

.project img:hover {
    border: 5px solid #00ffff;
}

.project p {
    text-align: center;
}

#main-project {
    width: 80%;
}

.contact ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.contact h2 {
    text-align: center;
}

.contact li {
    display: flex;
    padding: 2%;
}