* {
    /* Temporary color */
    background-color: whitesmoke;
}

nav, h1, nav ul, nav ul li, a {
    /* Temporary color */
    background-color: cadetblue;
}

a {
    /* Temporary color */
    color: black;
}

a:hover {
    /* Temporary color */
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0 5%;
}

h1 {
    font-size: 48px;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-self: center;
    padding: 0;
    width: 40%;
    justify-content: space-evenly;
}

nav ul li {
    display: inline-flex;
    font-size: 30px;
}

.about-me {
    padding: 5%;
    display: inline-block;
}

.about-me, .about-me h2, .about-me p {
    /* Temporary color */
    background-color: aqua;
}

.about-me img {
    width: 300px;
    height: 375px;
    float: left;
    padding: 0 5%;
}

h2 {
    font-size: 36px;
}

p {
    font-size: 24px;
}

.bio-text {
    text-indent: 5%;
}

main, main h2, .project-list, .project, .project p {
    /* Temporary color */
    background-color: plum;
}

main h2 {
    text-align: center;
}

.project-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.project {
    padding: 5%;
    width: 40%;
    height: 40%;
}

.project img {
    width: 100%;
}

.project p {
    text-align: center;
}

#main-project {
    width: 90%;
}

.contact, .contact h2, .contact ul, .contact li {
    /* Temporary color */
    background-color:salmon;
}